div {
  margin: 10px;
  padding: 20px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-size: 84px;
  font-style: italic;
}

.subtitle {
  font-size: 32px;
  font-style: italic;
}

.App {
  margin: 0;
  padding: 0;
  background-color: #444;
  text-align: center;
}

.App-header {
  background-color: #444;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fade-in {
  transition: opacity 1s ease;
}

/* FORM */

.form-parent {
  max-width: 500px;
  margin: auto;
  text-align: center;
  color: white;
}

.login-form {
  background-color: #444;
  text-align: center;

  align-items: center;
  justify-content: center;
  color: white;
}

.input,
.select,
.textarea,
.radio,
.checkbox {
  box-sizing: border-box;
  margin: 0;
  border-radius: 0;
  font: inherit;
}

  input[type=text], input[type=password] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 10px;
    color: black;
    background-color: white;
    border: 1px solid black;
    transition: 0.5s;
    outline: none;
    font-family: 'IM Fell DW Pica', 'Veranda', sans-serif;
    font-size: 16px;
  }

  input[type=text]:focus, input[type=password]:focus {
    border: 1px solid white ;
  }

  /** Buttons **/
.btn-login {
  background-color: transparent;
  border-radius: 2em;
  border: 0.2em solid white;
  color: white;
  cursor: default ;
  font-size: 3vmin;
  padding: 0.5em 1em;
  margin: 0 auto;
  text-decoration: none;
  transition: all 0.25s ease;
}

.btn-login:hover {
  background: white;
  color: #333;
}
